@page "/addonconfigpath"

<h1>Addon Path</h1>

<p role="status">Path: @portalAddonPath</p>

<button class="btn btn-primary" @onclick="LocatePath">Get Path</button>

@code {

    public static string? steamPath;
    public static string? portalAddonPath;

    private void LocatePath()
    {
        if (steamPath == null)
        {
            Process[] steam = Process.GetProcessesByName("steam");
            if (steam.Length > 0)
            {
                steamPath = steam[0].MainModule.FileName;

                if (steamPath != null)
                {
                    steamPath = steamPath.Remove(29, 9);
                }

                if (portalAddonPath == null)
                {
                    portalAddonPath = steamPath + "steamapps\\common\\Portal\\portal\\custom";
                }

                Debug.WriteLine(portalAddonPath);

            }
            else
            {
                Debug.WriteLine("Unable to find Steam. Make sure it is open.");
            }
        }
        else
        {
            return;
        }
    }
}
