@page "/"

<h1>Hello, world!</h1>

Welcome to PortalAddonManager.

<div class="beta-text">
	<p>(very early beta test)</p>
</div>


<style>
	body {
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 100vh;
		margin: 0;
	}

	.beta-text {
		margin-top: 15%;
		opacity: 0.5;
	}
</style>
