@page "/library"

<h1>Library</h1>

@if(steamPath == null)
{
    <p>Unable to automatically locate Portal's addon directory. Please make sure steam is running and reload this page.</p>
    <button class="btn btn-primary" @onclick="LocatePath">Reload</button>
}
else
{
    <p role="status">Addon Installation Path: @portalAddonPath</p>
}

<div class="addons-list">
    @foreach (var (addonFile, index) in GetAddonFiles().Select((addon, index) => (addon, index)))
    {
        <div class="addon-card">
            <div class="addon-header">
                <div>
                    <h2>@addonFile.JsonData.Name</h2>
                    <p class="author">@addonFile.JsonData.Author</p>
                </div>
            </div>

            <div class="switch">

                <label class="switch-label">
                    <input type="checkbox" class="checkbox" id="switch@(index)" checked="">
                    <span class="switch-slider"></span>
                </label>

            </div>
        </div>
    }
</div>


<style>
    .addons-list {
        margin-top: 20px;
    }

    .addon-card {
        position: relative;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .addon-card h2 {
        margin: 0;
        font-size: 1.2em;
    }

    .author {
        margin: 0;
        font-size: 0.8em;
    }

    .addon-description {
        margin-top: 10px;
    }

    /* SWITCHES STYLES */
    .switch {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .switch label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        color: #555;
        font-size: 12px;
    }

    .switch-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .switch-label .checkbox {
        display: none;
    }

    .switch-slider {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.25);
        transition: all 0.3s;
        border-radius: 20px;
        cursor: pointer;
    }

    .switch-slider::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        top: 1px;
        left: 1px;
        transition: all 0.3s;
    }

    .checkbox:checked + .switch-slider::after {
        left: 20px;
    }

    .checkbox:checked + .switch-slider {
        background-color: #007bff;
    }
</style>

@code {

    private static string? steamPath;
    private static string? portalAddonPath;

    protected override void OnInitialized()
    {
        LocatePath();
    }

    private void LocatePath()
    {
        if (steamPath == null)
        {
            Process[] steam = Process.GetProcessesByName("steam");
            if (steam.Length > 0)
            {
                steamPath = steam[0].MainModule.FileName;

                if (steamPath != null)
                {
                    steamPath = steamPath.Remove(29, 9);
                }

                if (portalAddonPath == null)
                {
                    portalAddonPath = steamPath + "steamapps\\common\\Portal\\portal\\custom";
                }

                Debug.WriteLine(portalAddonPath);

            }
            else
            {
                Debug.WriteLine("Unable to find Steam. Make sure it is open.");
            }
        }
        else
        {
            return;
        }
    }

    private IEnumerable<AddonInfo> GetAddonFiles()
    {
        if (Directory.Exists(portalAddonPath))
        {
            var vpkFiles = Directory.GetFiles(portalAddonPath, "*.vpk");

            foreach (var vpkFile in vpkFiles)
            {
                var baseName = Path.GetFileNameWithoutExtension(vpkFile);
                var jsonFile = Path.Combine(portalAddonPath, $"{baseName}.json");

                if (File.Exists(jsonFile))
                {
                    var jsonData = JsonConvert.DeserializeObject<AddonData>(File.ReadAllText(jsonFile));
                    yield return new AddonInfo
                        {
                            Name = baseName,
                            JsonData = jsonData
                        };
                }
                else
                {
                    // handle addons that don't have a corresponding json file
                    yield return new AddonInfo
                        {
                            JsonData = new AddonData
                            {
                                Name = Path.GetFileName(vpkFile),
                                Author = "Unknown Author",
                                Description = "Unknown Addon"
                            }
                        };
                }
            }
        }
        else
        {
            Debug.WriteLine("Portal addon path not found.");
        }

        yield break;
    }


    private class AddonInfo
    {
        public string Name { get; set; } = string.Empty;
        public AddonData JsonData { get; set; } = new AddonData();
    }

    public class AddonData
    {
        public string Name { get; set; } = string.Empty;
        public string Author { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
    }
}
