@page "/packages/{repoName}"

@using PortalAddonManager.Models
@using PortalAddonManager.Services
@inject DataService DataService

<a href="/sources" Match="NavLinkMatch.All">〈 Sources</a>
<h1>@repoName</h1>

@foreach (var repo in DataService.Repos)
{
    if (repo.name == repoName)
    {
        <div class="package-container">
            @foreach (var package in repo.packages)
            {
                <div class="package-item">
                    <img src="@package.iconURL" alt="Package Icon" class="package-icon" />
                    <div class="package-info">
                        <h5>@package.name</h5>
                        <p class="subtitle">@package.subtitle</p>
                    </div>
                </div>
            }
        </div>
    }
}

<style>
    .package-container {
        display: flex;
        flex-wrap: wrap;
    }

    .package-item {
        position: relative;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        transition: all 0.25s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .package-icon {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        border-radius: 18px;
    }

    .package-info {
        flex-grow: 1;
    }

        .package-info h5 {
            margin: 0;
        }

        .package-info p.subtitle {
            margin: 0;
            font-size: 0.8em;
            opacity: 0.5;
        }
</style>


@code {
    [Parameter] public string repoName { get; set; }
}
