@page "/sources"

@using System.Net.Http
@using Newtonsoft.Json
@using PortalAddonManager.Models
@inject HttpClient Http

<h1>Sources</h1>

@if (repos == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var repo in repos)
    {
        <div>
            <h4>@repo.name</h4>
            <img src="@repo.iconURL" alt="Repo Icon" width="50" height="50" />
            <div>
                @foreach (var package in repo.packages)
                {
                    <div>
                        <h5>@package.name</h5>
                        <img src="@package.iconURL" alt="Package Icon" width="30" height="30" />
                    </div>
                }
            </div>
        </div>
    }
}

@code {
    private List<Repository> repos;

    protected override async Task OnInitializedAsync()
    {
        var jsonUrl = "https://example.com/yourrepo.json";
        var json = await Http.GetStringAsync(jsonUrl);
        repos = JsonConvert.DeserializeObject<List<Repository>>(json);
    }
}
