@page "/sources"

@using System.Net.Http
@using Newtonsoft.Json
@using PortalAddonManager.Models
@using PortalAddonManager.Services
@inject HttpClient Http
@inject DataService DataService

<h1>Sources</h1>

@if (DataService.Repos == null)
{
    <p>@currentState</p>
}
else
{
    @foreach (var repo in DataService.Repos)
    {
        <div class="repo-container">
            <img src="@repo.iconURL" alt="Repo Icon" class="repo-icon" />
            <div>
                <h4>@repo.name</h4>
                <a href="/packages/@repo.name" Match="NavLinkMatch.All">View Packages</a>
            </div>
        </div>
    }
}

<style>
    .repo-container {
        position: relative;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        transition: all 0.25s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .repo-container:hover {
        transform: scale(1.005);
    }

    .repo-icon {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        border-radius: 50px;
    }

    .repo-info {
        flex-grow: 1; /* Allow the text to take up the remaining space */
    }

    .repo-info h4 {
        margin: 0; /* Remove default margin for h4 */
    }
</style>

@code {
    private String? currentState = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        var jsonUrl = "https://raw.githubusercontent.com/Bonnie39/pam-repo/main/repository.json";
        currentState = "Got JSON URL.";

        try
        {
            var json = await Http.GetStringAsync(jsonUrl);
            currentState = $"Received JSON: {json}";

            DataService.Repos = JsonConvert.DeserializeObject<List<Repository>>(json);
        }
        catch (Exception ex)
        {
            currentState = $"Error: {ex.Message}";
        }
    }
}
